<table class="list">
<thead>
  <tr>
    <% if(User.current.admin?)%>
      <!-- Admin Role -->
	  <th style="width:10%; text-align:left;">Application For</th>
      <th style="width:10%; text-align:left;">Applicant</th>
	  <th style="width:40%; text-align:left;">Applicant Files</th>
	  <th style="width:40%; text-align:left;">Referral Files</th>

    <% elsif (User.current.logged?)%>
      <!-- Applicant Role -->
	  <th style="width:30%; text-align:left;">Application For</th>
	  <th style="width:50%; text-align:left;">File</th>
      <th style="width:20%; text-align:left;">Date Submitted</th>
    <% else %>
      <!-- Anonymous Role -->
      <!-- No view for Anonymous -->

    <% end %> 
  </tr>
</thead>
<tbody>
	<% if @job_application_material.nil? %>
	  no application materials yet!
	<% else %>  
  	  <% @job_application_material.each do |jam| %>
        <tr>
		<% if(User.current.admin?)%>
          <!-- Admin Role -->
		  <td style="width:10%"><%= link_to "#{Job.find(JobApplication.find(jam.job_application_id).job_id).title}", job_application_url(jam.job_application_id, :apptracker_id => params[:apptracker_id]) %></td>
		  <td style="width:10%"><%= link_to "#{JobApplication.find(jam.job_application_id).applicant.first_name} #{JobApplication.find(jam.job_application_id).applicant.last_name}", applicant_url(JobApplication.find(jam.job_application_id).applicant.id, :apptracker_id => params[:apptracker_id]) %></td>
		  <% unless (link_to_attachments jam).blank? %>
		    <td style="width:40%"><%= link_to_attachments jam %></td>
		  <% else %>
		    <td style="width:40%">No Files</td>
		  <% end %>	
		  
		  <% @job_application_referral = Array.new %>
          <% @job_application_referral << JobApplication.find(jam.job_application_id).job_application_referrals %>
          <% @job_application_referral.flatten! %>
		  <td style="width:40%">
		  <% @job_application_referral.each do |jar| %>
		    <% unless (link_to_attachments jar).blank? %>
		      <%= link_to_attachments jar %>
		    <% else %>
		      No Files
		    <% end %>
          <% end %>
		  </td>
        <% elsif (User.current.logged?)%>
          <!-- Applicant Role -->
		  <td style="width:30%"><%= link_to "#{Job.find(JobApplication.find(jam.job_application_id).job_id).title}", job_application_url(jam.job_application_id, :apptracker_id => params[:apptracker_id]) %></td>
		  <% unless (link_to_attachments jam).blank? %>
		    <td style="width:50%"><%= link_to_attachments jam %></td>
		  <% else %>
		    <td style="width:50%">No Files</td>
		  <% end %>	
		  <td style="width:20%"><%= jam.created_at %></td>
        <% else %>
          <!-- Anonymous Role -->
          <!-- No view for Anonymous -->
		  If you are not logged in, you can not view any application materials you have previously submitted.
        <% end %> 
        </tr>
      <% end %>
    <% end %>
	

</tbody>
</table>

