<table class="list">
<thead>
  <tr>
    <% if(User.current.admin?)%>
      <!-- Admin Role -->
      <%= sort_header_tag('first_name') %>
	  <%= sort_header_tag('last_name') %>
      <%= sort_header_tag('user_name') %>
      <th></th>
      <th></th>

    <% elsif (User.current.logged?)%>
      <!-- Applicant Role -->
      <!-- No view for applicants -->
    <% else %>
      <!-- Anonymous Role -->
      <!-- No view for Anonymous -->

    <% end %> 
  </tr>
</thead>
<tbody>
  <% @applicants.each do |applicant| %>
    <tr>
      <% if(User.current.admin?)%>
        <!-- Admin Role -->
        <td><%= link_to "#{applicant.first_name}", applicant_url(applicant.id, :apptracker_id => params[:apptracker_id]) %></a></td>
		<td><%= link_to "#{applicant.last_name}", applicant_url(applicant.id, :apptracker_id => params[:apptracker_id]) %></a></td>
      	<td><%=h applicant.user_name%></a></td>
    	<td><%= link_to 'Edit', edit_applicant_url(applicant.id, :apptracker_id => params[:apptracker_id]), :class => 'icon icon-edit' %></td>
      	<td><%= link_to 'Delete', applicant_url(:id => applicant.id, :apptracker_id => params[:apptracker_id]), 
        :confirm => "Are you sure you want to delete #{applicant.first_name} #{applicant.last_name}\'s record?", 
        :method => :delete,
        :class => 'icon icon-del' %>
      </td>

      <% elsif (User.current.logged?)%>
        <!-- Applicant Role -->
        <!-- No view for Applicants -->

      <% else %>
        <!-- Anonymous Role -->
        <!-- No view for Anonymous -->

      <% end %> 
    </tr>
  <% end %>
</tbody>
</table>

