<% form_for(@applicant) do |f| %>
  <%= f.error_messages %>
  <h3>General Information</h3>
  <p>
    <%= f.label(:first_name) %><span class="required">*</span><br />
    <%= f.text_field(:first_name) %>
  </p>

  <p>
    <%= f.label(:last_name) %><span class="required">*</span><br />
    <%= f.text_field(:last_name) %>
  </p>

  <p>
    <%= f.label(:user_name) %><span class="required">*</span><br />
    <%= f.text_field(:user_name) %>
  </p>

  <p>
    <%= f.label(:email) %><span class="required">*</span><br />
    <%= f.text_field(:email) %>
  </p>

  <p>
    <%= f.label(:mobile_phone) %><span class="required">*</span><br />
    <%= f.text_field(:mobile_phone) %>
  </p>

  <p>
    <%= f.label(:dob) %><span class="required">*</span> (format = MM/DD/YYYY) <br />
    <%= f.text_field(:dob) %>
  </p>

  <p>
    <%= f.label(:gender) %><span class="required">*</span><br />
    <%= f.select(:gender, Applicant::GENDER_OPTIONS, {:include_blank => true}) %>
  </p>
  
  <h3>College/Academic Information</h3>
  <p>
    <%= f.label(:grad_month) %><span class="required">*</span><br />
    <%= f.text_field(:grad_month) %>
  </p>

  <p>
    <%= f.label(:grad_year) %><span class="required">*</span><br />
    <%= f.text_field(:grad_year) %>
  </p>

  <p>
    <%= f.label(:highest_degree_level) %><span class="required">*</span><br />
    <%= f.select(:highest_degree_level, Applicant::HIGHEST_DEGREE_LEVEL, {:include_blank => true}) %>
  </p>

  <p>
    <%= f.label(:gpa) %><span class="required">*</span> (format = 4.55) <br />
    <%= f.text_field(:gpa) %>
  </p>

  <p>
    <%= f.label(:gpa_scale) %><span class="required">*</span> (format = 4.0) <br />
    <%= f.text_field(:gpa_scale) %>
  </p>
  
  <p>
    <%= f.label(:school_name) %><span class="required">*</span><br />
    <%= f.text_field(:school_name) %>
  </p>

  <p>
    <%= f.label(:school_town_city) %><span class="required">*</span><br />
    <%= f.text_field(:school_town_city) %>
  </p>

  <p>
    <%= f.label(:school_state_province) %><span class="required">*</span><br />
    <%= f.text_field(:school_state_province) %>
  </p>

  <p>
    <%= f.label(:school_country) %><span class="required">*</span><br />
    <%= f.text_field(:school_country) %>
  </p>

  <p>
    <%= f.label(:academic_other_info) %><br />
    <%= f.text_area(:academic_other_info, :size => "60x8") %>
  </p>


  <h3>Home Address</h3>
  <p>
    <%= f.label(:home_street_1) %><span class="required">*</span><br />
    <%= f.text_field(:home_street_1) %>
  </p>

  <p>
    <%= f.label(:home_street_2) %><span class="required">*</span><br />
    <%= f.text_field(:home_street_2) %>
  </p>

  <p>
    <%= f.label(:home_town_city) %><span class="required">*</span><br />
    <%= f.text_field(:home_town_city) %>
  </p>

  <p>
    <%= f.label(:home_state_province) %><span class="required">*</span><br />
    <%= f.text_field(:home_state_province) %>
  </p>

  <p>
    <%= f.label(:home_postal_code) %><span class="required">*</span><br />
    <%= f.text_field(:home_postal_code) %>
  </p>

  <p>
    <%= f.label(:home_country) %><span class="required">*</span><br />
    <%= f.text_field(:home_country) %>
  </p>

  <p>
    <%= f.label(:home_phone) %><span class="required">*</span><br />
    <%= f.text_field(:home_phone) %>
  </p>

  <h3>Dorm/Apartment Address</h3>
  <em>Please only enter this if your current dorm/apartment address differs from your home address</em>
  <p>
    <%= f.label(:dorm_street_1) %><br />
    <%= f.text_field(:dorm_street_1) %>
  </p>

  <p>
    <%= f.label(:dorm_street_2) %><br />
    <%= f.text_field(:dorm_street_2) %>
  </p>

  <p>
    <%= f.label(:dorm_town_city) %><br />
    <%= f.text_field(:dorm_town_city) %>
  </p>

  <p>
    <%= f.label(:dorm_state_province) %><br />
    <%= f.text_field(:dorm_state_province) %>
  </p>

  <p>
    <%= f.label(:dorm_postal_code) %><br />
    <%= f.text_field(:dorm_postal_code) %>
  </p>

  <p>
    <%= f.label(:dorm_country) %><br />
    <%= f.text_field(:dorm_country) %>
  </p>

  <p>
    <%= f.label(:dorm_phone) %><br />
    <%= f.text_field(:dorm_phone) %>
  </p>
  
 
  <p>
    <%= f.submit('Save') %>
  </p>
<% end %>
