<% content_for :header_tags do %>
    <script type="text/javascript" charset="utf-8">
	  function change_state_select(country_code)
	 {
	    new Ajax.Request('<%= url_for(:action => "country_select") %>/'+country_code,
	    {
	      method: 'get',
	      onSuccess: function(transport) {
	        $('state_select').replace(transport.responseText);
	      }
	    });
	  }
	 </script>
	 <noscript>Please enable Javascript.</noscript>
<% end %>
<span class="required">*</span> Required Fields
<% form_for(@applicant) do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag :apptracker_id, @apptracker.id %>
  <% unless @job.nil? %>
	<%= hidden_field_tag :job_id, @job.id  %>
  <% end %>	
  <h3>General Information</h3>
  <p>
    <%= f.label(:first_name, "First Name") %><span class="required">*</span><br />
    <%= f.text_field(:first_name, :value => @user.firstname) %>
  </p>

  <p>
    <%= f.label(:last_name, "Last Name") %><span class="required">*</span><br />
    <%= f.text_field(:last_name, :value => @user.lastname) %>
  </p>

  <p>
    <%= f.label(:user_name, "Username") %><span class="required">*</span><br />
    <%= f.text_field(:user_name, :value => @user.login) %>
  </p>

  <p>
    <%= f.label(:email, "Email") %><span class="required">*</span><br />
    <%= f.text_field(:email, :value => @user.mail) %>
  </p>

  <h3>Address</h3>
  <p>
    <%= f.label(:address_1, "Address Street") %><span class="required">*</span><br />
    <%= f.text_field(:address_1) %>
  </p>

  <p>
    <%= f.label(:address_2, "Address Street 2") %><br />
    <%= f.text_field(:address_2) %>
  </p>

  <p>
    <%= f.label(:city, "Address City") %><span class="required">*</span><br />
    <%= f.text_field(:city) %>
  </p>

  <p>
    <%= f.label(:postal_code, "Address Postal Code") %><span class="required">*</span><br />
    <%= f.text_field(:postal_code) %>
  </p>

  <p>
  Country<span class="required">*</span><br />
  <%= f.select :country, Carmen::country_names, {:include_blank => true}, {:onchange => "change_state_select(this.options[this.selectedIndex].value);"} %>
  </p>
  <% unless @applicant.state.nil? %>
	<% begin %>
	  <%= render :partial => 'states', :locals => {:states => Carmen::states(Carmen::country_code(@applicant.country))} %>
	<% rescue %>
	  <% logger.warn "in rescue"%>
      <%= render :partial => 'states', :locals => {:states => nil} %>
	<% end %>
  <% else %>
    <div id='state_select'></div>
  <% end %>

  <p>
    <%= f.label(:phone, "Phone") %><span class="required">*</span><br />
    <%= f.text_field(:phone) %>
  </p>

  <p>
    <%= f.label(:website, "Website") %><br />
    <%= f.text_field(:website) %>
  </p>

  <p>
    <%= f.label(:blog, "Blog") %><br />
    <%= f.text_field(:blog) %>
  </p>

  <p>
    <%= f.label(:social_networks, "Social Networks") %><br />
    <%= f.text_field(:social_networks) %>
  </p>

  <p>
    <%= f.submit('Save') %>
  </p>
<% end %>
