<% flash[:notice] %>
<h2><%=h Apptracker.find(params[:apptracker_id]).title %>: Applicant: <em><%=h "#{@applicant.last_name},#{@applicant.first_name}"%></em></h2>

<%= render :partial => "shared/tabs" %>
<%= render :partial => "form" %>

<br />
<%= link_to 'Back', applicants_url %>
