<% content_for :header_tags do %>
    <%= stylesheet_link_tag "assets.css", :plugin => "redmine_app_tracker", :media => "screen" %>
<% end %>

<% flash[:notice] %>
<div class="contextual">
  <%= link_to 'Back', applicants_url, :class => 'icon icon-history' %>
</div>

<h2><%=h Apptracker.find(params[:apptracker_id]).title %>: <em><%=h "#{@applicant.last_name}, #{@applicant.first_name} "%></em></h2>

<%= render :partial => "shared/tabs" %>

<h2>Applicant Information</h2>
<table>
<tr>
<td>
<b>General Information</b>
<p>
Name: <%=h "#{@applicant.last_name}, #{@applicant.first_name}"%><br /> 
User name: <%=h @applicant.user_name %><br /> 
Email: <%=h @applicant.email %><br /> 
Phone: <%=h @applicant.phone %> <br /> 
</p>
<br />
</td>
<td style="padding-left:20px;">
<b>Address</b>
<p>
Address 1: <%=h @applicant.address_1 %> <br /> 
Address 2: <%=h @applicant.address_2 %> <br /> 
City: <%=h @applicant.city %> <br /> 
State: <%=h @applicant.state %> <br /> 
Postal Code: <%=h @applicant.postal_code %> <br /> 
Country: <%=h @applicant.country %><br /> 
</p>
</td>
</tr>
</table>
<br />
<%= link_to 'Edit', edit_applicant_url(@applicant.id, :apptracker_id => params[:apptracker_id]), :class => 'icon icon-edit' %>
<br /><br />
<%= link_to 'View Open Jobs', jobs_url(:apptracker_id => params[:apptracker_id], :project_identifier => params[:project_identifier]), :class => 'icon icon-view' %>

