<span class="required">*</span> Required Fields
<% form_for(@job, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field(:apptracker_id, :value => @apptracker.id ) %>

  <p>
    <%= f.label(:category) %><span class="required">*</span><br />
    <%= f.select(:category, Job::JOB_CATEGORIES, {:include_blank => true}) %>
  </p>

  <p>
    <%= f.label(:status) %><span class="required">*</span><br />
    <%= f.select(:status, Job::JOB_STATUS, {:include_blank => true}) %>
  </p>

  <p>
    <%= f.label(:title) %><span class="required">*</span><br />
    <%= f.text_field(:title) %>
  </p>
  
  <p>
    <%= f.label(:short_desc) %><span class="required">*</span><br />
    <%= f.text_area(:short_desc, :rows => 5, :class => 'wiki-edit') %>
	<%= wikitoolbar_for 'short_desc' %>
  </p>

  <p>
    <%= f.label(:description) %><span class="required">*</span><br />
    <%= f.text_area(:description, :rows => 12, :class => 'wiki-edit') %>
	<%= wikitoolbar_for 'job_description' %>
  </p>

   <p>
    <%= f.label(:postions_available, "Positions Available") %><br />
    <%= f.text_field(:positions_available, :value => 1, :size => 3) %>
  </p>
  
  <p>
    <%= f.label(:application_followup_message, "Application Follow-up Message") %><span class="required">*</span><br />
    <%= f.text_area(:application_followup_message, :size => "60x5") %>
  </p>

  <p>
    <%= f.label(:referrer_count, "Amount of Referrals Needed") %><span class="required">*</span><br />
    <%= f.text_field(:referrer_count, :size => 3) %>
  </p>
  
  <p>
  	<%= f.label :submission_date, "Application Deadline" %><br />
  	<%= f.datetime_select :submission_date %><br />
  </p>
  
  <p>
	<%= label_tag 'job_materials', 'Required Application Materials'%><br />
	<% for material in (Job::JOB_MATERIALS+@job.application_material_types.split(',')).uniq %>
	  <%= check_box_tag "application_material_types[]", material, @job.application_material_types.nil? ? false : @job.application_material_types.split(',').include?(material) %>
	  <%= material %>
	  <br />
	<% end %>
	<br />
	<%= label_tag 'job_materials', 'Other (comma separated)'%><br />
	<%= text_field_tag "other_app_materials" %>
	<br />
  </p>
  
  <br />
  
  
  <h3>Job Attachments</h3>
  
  <h4>Existing</h4>
    <%= link_to_attachments @job_attachment %>
  
  <h4>Add New</h4>
      <% f.fields_for :job_attachments do |ja| %>
		
		<%= ja.hidden_field(:job_id, :value => @job.id ) %>
        <% #NOTE This is the code that attaches to Redmine's built-in Attachment model %>
		<div class="box">
			<p><label><%=l(:label_attachment_plural)%></label><%= render :partial => 'attachments/form' %></p>
		</div>
		
		<!--
        <%= ja.label(:notes, 'Notes/Description (Optional):') %><br />
        <%= ja.text_area(:notes, :size => "60x5") %><br />
        <small>
          <%= l(:label_max_size) %>: <%= number_to_human_size(Setting.attachment_max_size.to_i.kilobytes) %>
        </small>
		-->

      <% end %>

	<h3>Add Existing Custom Fields</h3>
		<% unless @job_application_custom_fields.empty? %>
			<fieldset class="box"><legend>Custom Fields</legend>
			<% @job_application_custom_fields.each do |custom_field| %>
			    <label class="floating">
				<%= check_box_tag 'job[job_application_custom_field_ids][]', custom_field.id, (@job.all_job_app_custom_fields.include? custom_field), (custom_field.is_for_all? ? {:disabled => "disabled"} : {}) %>
				<%= custom_field.name %>
				</label>
				<br />
			<% end %>
			<%= hidden_field_tag 'job[job_application_custom_field_ids][]', '' %>
			</fieldset>
		<% end %>
	<br /><br />
  <p>
  <%= f.submit('Save Job Edits') %>
  </p>
<% end %>

	  
<br /><br />
  <%= render :partial => 'add_job_custom_fields', :locals => { :job => @job, :custom_field => @custom_field } %>


<br /><br />



