<% form_for(@job) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field(:apptracker_id, :value => @apptracker.id ) %>
  <%= hidden_field(:form, :form_id, :value => 1) %>
  Part 1 of 2
  <p>
    <%= f.label(:category) %><br />
    <%= f.select(:category, Job::JOB_CATEGORIES, {:include_blank => true}) %>
  </p>

  <p>
    <%= f.label(:status) %><br />
    <%= f.select(:status, Job::JOB_STATUS, {:include_blank => true}) %>
  </p>

  <p>
    <%= f.label(:title) %><br />
    <%= f.text_field(:title) %>
  </p>

  <p>
    <%= f.label(:description) %><br />
    <%= f.text_area(:description, :size => "60x12") %>
  </p>

   <p>
    <%= f.label(:postions_available) %><br />
    <%= f.text_field(:positions_available, :value => 1, :size => 3) %>
  </p>
  
  <p>
    <%= f.label(:application_followup_message) %><br />
    <%= f.text_area(:application_followup_message, :size => "60x5") %>
  </p>

  <p>
    <%= f.label(:attachment_count) %><br />
    <%= f.text_field(:attachment_count, :size => 3) %>
  </p>


  <!--
  <p>
    <%= # f.label(:attachment_ids) 
    %><br />
    <%= # f.text_field(:attachment_ids) 
    %>
    </p>
  -->

  <p>
    <%= f.label(:application_material_count) %><br />
    <%= f.text_field(:application_material_count, :size => 3) %>
  </p>

  <%
    #TODO Provide setting of application material types
  %>
  <!--
  <p>
    <%= #f.label(:application_material_types) 
    %><br />
    <%= #f.text_field(:application_material_types) 
    %>
  </p>
  -->

  <p>
    <%= f.label(:referrer_count) %><br />
    <%= f.text_field(:referrer_count, :size => 3) %>
  </p>

  <p>
  <%= f.submit('Save') %>
  </p>
<% end %>

