<table class="list">
<thead>
  <tr>
    <% if(User.current.admin?)%>
      <!-- Admin scope -->
      <%= sort_header_tag('title') %>
      <%= sort_header_tag('category') %>
      <%= sort_header_tag('short_desc', :caption => 'Short Description') %>
      <%= sort_header_tag('job_status') %>
	  <%= sort_header_tag('application_deadline') %>
      <th></th>
	  <th></th>
    <% elsif (User.current.logged?)%>
      <!-- Applicant scope -->
      <%= sort_header_tag('title') %>
      <%= sort_header_tag('category') %>
      <%= sort_header_tag('short_desc') %>
	  <%= sort_header_tag('application_deadline') %>
      <th></th>
    <% else %>
      <!-- Anonymous scope -->
      <%= sort_header_tag('title') %>
      <%= sort_header_tag('category') %>
      <%= sort_header_tag('short_desc') %>
	  <%= sort_header_tag('application_deadline') %>
    <% end %>
  </tr>
</thead>
<tbody>
  <% @jobs.each do |job| %>
    <tr>
      <% if(User.current.admin?)%>
        <!-- Admin scope -->
        <td><%= link_to "#{job.title}", job_url(job.id, :apptracker_id => params[:apptracker_id]) %></a></td>
        <td><%=h job.category %></a></td>
        <td><%= textilizable job.short_desc %></td>
        <td><%=h job.status %></td>
		<td><%=h job.submission_date.month %>/<%=h job.submission_date.day %>/<%=h job.submission_date.year %> <%= job.submission_date.strftime("%I:%M %p") %> ET</td>
        <td><%= link_to 'Edit', edit_job_url(job.id, :apptracker_id => params[:apptracker_id]), :class => 'icon icon-edit' %></td>
        <td><%= link_to 'Delete', job_url(:id => job.id, :apptracker_id => params[:apptracker_id]), 
          :confirm => "All links to applicants will be destroyed.  Are you sure you want to delete the \"#{job.title}\" job?", 
          :method => :delete,
          :class => 'icon icon-del' %>
        </td>
      <% elsif job.status != 'inactive' %> 
        <% if User.current.logged? %>
          <!-- Applicant scope -->
          <td><%= link_to "#{job.title}", job_url(job.id, :apptracker_id => params[:apptracker_id]) %></td>
          <td><%=h job.category %></td>
          <td><%= textilizable job.short_desc %></td>
		  <td><%=h job.submission_date.month %>/<%=h job.submission_date.day %>/<%=h job.submission_date.year %> <%= job.submission_date.strftime("%I:%M %p") %> ET</td>
          <td></td>
        <% else %>
          <!-- Anonymous scope -->
          <td><%= link_to "#{job.title}", job_url(job.id, :apptracker_id => params[:apptracker_id]) %></a></td>
          <td><%=h job.category %></a></td>
          <td><%= textilizable job.short_desc %></td>
		  <td><%=h job.submission_date.month %>/<%=h job.submission_date.day %>/<%=h job.submission_date.year %> <%= job.submission_date.strftime("%I:%M %p") %> ET</td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</tbody>
</table>

