<table class="list" style="width:90%; margin-right:10%;">
<thead>
  <tr>
    <% if(User.current.admin?)%>
      <!-- Admin scope -->
      <th style="width:25%; text-align:left;">Title</th>
      <th style="width:10%; text-align:left;">Category</th>
      <th style="width:50%; text-align:left;">Description</th>
      <th style="width:10%; text-align:left;">Status</th>
      <th style="width:5%; text-align:left;"></th>
      <th style="width:5%; text-align:left;"></th>
    <% elsif (User.current.logged?)%>
      <!-- Applicant scope -->
      <th style="width:25%; text-align:left;">Title</th>
      <th style="width:15%; text-align:left;">Category</th>
      <th style="width:50%; text-align:left;">Description</th>
      <th style="width:10%; text-align:left;"></th>
    <% else %>
      <!-- Anonymous scope -->
      <th style="width:30%; text-align:left;">Title</th>
      <th style="width:15%; text-align:left;">Category</th>
      <th style="width:55%; text-align:left;">Description</th>
    <% end %>
  </tr>
</thead>
<tbody>
  <% @jobs.each do |job| %>
    <tr>
      <% if(User.current.admin?)%>
        <!-- Admin scope -->
        <td style="width:25%"><%= link_to "#{job.title}", job_url(job.id, :apptracker_id => params[:apptracker_id]) %></a></td>
        <td style="width:10%"><%=h job.category %></a></td>
        <td style="width:50%"><%=h job.description %></td>
        <td style="width:10%"><%=h job.status %></td>
        <td style="width:5%"><%= link_to 'Edit', edit_job_url(job.id), :class => 'icon icon-edit' %></td>
        <td style="width:5%"><%= link_to 'Delete', job_url(:id => job.id), 
          :confirm => "All links to applicants will be destroyed.  Are you sure you want to delete the \"#{job.title}\" job?", 
          :method => :delete,
          :class => 'icon icon-del' %>
        </td>
      <% elsif (User.current.logged?)%>
        <!-- Applicant scope -->
        <td style="width:25%"><%= link_to "#{job.title}", job_url(job.id, :apptracker_id => params[:apptracker_id]) %></td>
        <td style="width:15%"><%=h job.category %></td>
        <td style="width:50%"><%=h job.description %></td>
        <td style="width:10%"></td>
      <% else %>
        <!-- Anonymous scope -->
        <td style="width:30%"><%= link_to "#{job.title}", job_url(job.id, :apptracker_id => params[:apptracker_id]) %></a></td>
        <td style="width:15%"><%=h job.category %></a></td>
        <td style="width:55%"><%=h job.description %></td>
      <% end %>
    </tr>
  <% end %>
</tbody>
</table>

