<h2><%=h @apptracker.title %>: <em>Edit Job</em></h2>
<%= render :partial => "shared/tabs" %>
<%= render :partial => "form_edit" %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'assets', :plugin => 'redmine_app_tracker' %>
<% end %>
<br />

<div style="width:100%; float:left; margin-top: 20px;">
<%= link_to 'Back', jobs_url(:apptracker_id => params[:apptracker_id]) %>
</div>