<% flash[:notice] %>

<h2>Jobs#index</h2>

<table class="list" style="width:65%">
<thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% @jobs.each do |job| %>
    <tr>
      <td style="width:35%"><%= link_to "#{job.title}", job_url(job.id) %></a></td>
      <td style="width:50%"><%=h job.description %></td>
      <!--<td style="width:5%"><%= link_to 'Show', job_url(job.id) %></td>-->
      <td style="width:5%"><%= link_to 'Edit', edit_job_url(job.id) %></td>
      <td style="width:5%"><%= link_to 'Delete', job_url(:id => job.id), :confirm => "All records will be destroyed.  Are you sure you want to delete the \"#{job.title}\" job?", :method => :delete %></td>
    </tr>
  <% end %>
</tbody>
</table>
<br /><br />
<%= link_to 'New Job', new_job_url %>
