<% flash[:notice] %>
<div class="contextual">
  <%= link_to 'Back', jobs_url(:apptracker_id => params[:apptracker_id]), :class => 'icon icon-history' %>
</div>

<h2><%=h @job.apptracker.title %>: Jobs: <em><%=h @job.title %></em></h2>

<%= render :partial => "shared/tabs" %>

<p>
Category: <%=h @job.category %><br />
Status: <%=h @job.status %><br />
<p>Description: <%=h @job.description %></p>
<h3>Job Attachments</h3>
  <%= link_to_attachments @job_attachment %>
</p>
<br />
<% if User.current.admin? %>
  <!-- render Job Applications partial -->
  <!-- render students applying to this job -->
  <!-- render Application materials associated with this job -->
<<<<<<< HEAD
=======
  <h3>Job Attachments</h3>
  <%= link_to_attachments @job_attachment %>
  
>>>>>>> 380a80a1599605ba027e16c896df3d58b74972a4
  
<% elsif User.current.logged? %>
  <h3>Job Attachments</h3>
  <%= link_to_attachments @job_attachment %>
  
  <%= link_to "Apply to this job", new_job_application_url(:apptracker_id => params[:apptracker_id], :job_id => @job.id, :user_id => User.current.id) %>
  <!-- go to job application -->
<% else %>
  <!-- Take anonymous user to registration page -->
  <%
    # TODO Connect the anonymous user login to Redmine's login system
  %>
  
<<<<<<< HEAD
  <%= link_to "Log In", signin_url %> or <%= link_to "Register", :controller => "account", :action => "register", :apptracker_id => @apptracker.id %> to Apply to This Job
=======
  <%= link_to "Log In", signin_url %> or <%= link_to "Register", :controller => "applicants", :action => "new", :apptracker_id => @apptracker.id %> to Apply to This Job
>>>>>>> 380a80a1599605ba027e16c896df3d58b74972a4
<% end %>
<br /><br />
