<% flash[:notice] %>
<h2><%=h session[:apptracker_title] %>: Jobs: <em><%=h @job.title %></em></h2>
<%= render :partial => 'shared/tabs' %>
<p>
Category: <%=h @job.category %><br />
Status: <%=h @job.status %><br />
Description: <%=h @job.description %><br />
</p>
<br /><br />
<%= submit_tag "Apply to this job" %> 
<br /><br />
<%= link_to 'Back', jobs_url %>
