<% flash[:notice] %>
<div class="contextual">
  <%= link_to 'Back', jobs_url(:apptracker_id => params[:apptracker_id]), :class => 'icon icon-history' %>
</div>

<h2><%=h @job.apptracker.title %>: Jobs: <em><%=h @job.title %></em></h2>

<%= render :partial => "shared/tabs" %>

<p>
Category: <%=h @job.category %><br />
Status: <%=h @job.status %><br />
Description: <%=h @job.description %><br />
</p>
<br /><br />
<% if User.current.admin? %>
  <!-- render Job Applications partial -->
  <!-- render students applying to this job -->
  <!-- render Application materials associated with this job -->
<% elsif User.current.logged? %>
  <%= link_to "Apply to this job", new_job_application_url(:apptracker_id => params[:apptracker_id], :job_id => @job.id, :user_id => User.current.id) %>
  <!-- go to job application -->
<% else %>
  <!-- Take anonymous user to registration page -->
  <%
    #TODO Connect the anonymous user login to Redmine's login system
  %>
  NOT YET IMPLEMENTED <br /><br />
  <%= link_to "Log In/Register to Apply to This Job" %>
<% end %>
<br /><br />
