<script language="javascript">
function toggle() {
	var ele = document.getElementById("toggleText");
	var text = document.getElementById("displayText");
	if(ele.style.display == "block") {
    		ele.style.display = "none";
		text.innerHTML = "Register";
  	}
	else {
		ele.style.display = "block";
		text.innerHTML = "Register";
	}
} 

function toggle2() {
	var ele = document.getElementById("toggleText2");
	var text = document.getElementById("displayText2");
	if(ele.style.display == "block") {
    		ele.style.display = "none";
		text.innerHTML = "Register";
  	}
	else {
		ele.style.display = "block";
		text.innerHTML = "Register";
	}
}
</script>
<noscript>Please enable Javascript.</noscript>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag "assets.css", :plugin => "redmine_app_tracker", :media => "all" %>
<% end %>


<% flash[:notice] %>
<div class="contextual">
  <%= link_to 'Back', jobs_url(:apptracker_id => params[:apptracker_id]), :class => 'icon icon-history' %>
</div>

<h2><%=h @job.apptracker.title %>: Jobs: <em><%=h @job.title %></em></h2>

<%= render :partial => "shared/tabs" %>

<strong>
<% if User.current.admin? %>
  <% form_tag({:controller => 'jobs', :action => 'zip_some'}, :id => 'applicant_form') do %>

  <!-- render Job Applications partial -->
  <h3>Submitted Applications</h3>
  <%= render :partial => "job_applications/job_application_tables", :locals => { :box => true } %>
    <p></p>

    <h3>Zip/Download Submitted Materials</h3>
      <p>
	  <%= label_tag 'job_materials', 'Select Application Materials to Download'%><br />
	  <br />
	  <% for material in @job.application_material_types.split(',') %>
	    <%= check_box_tag "application_material_types[]", material, true %>
	    <%= material %><br />
	  <% end %>
	  <% unless @job.referrer_count.nil? || @job.referrer_count == 0 %>
	    <%= check_box_tag "applicant_referral", "referral", true %>
	    Referral<br />
	  <% end %>
	  <%= hidden_field_tag "job", @job.id %>
	  <br />
	  <%= submit_tag 'Create Zip File' %>
  <% end %>
	<p>
	  <%= button_to 'Zip All', zip_all_jobs_path(:job => @job.id) %>
	</p>
	<% unless @zipped_file.nil? %>
    <p>
  	  <%= link_to "Download Zip File", @zipped_file %>
    </p>
    <% end %>
    </p>

<% elsif User.current.logged? %>
<span class="access-account">
  <% @applicant = Applicant.find_by_email(User.current.mail) %>
  <% unless @applicant.nil? %>
  
  	  <% @jobs = @applicant.job_applications.collect {|x| x.job_id } %>
  
  	  <!-- if the applicant has already applied to this job, do not show the "Apply" link -->
	  <% unless @jobs.include?(@job.id) %>
	    <!-- go to job application -->
		<%= link_to "Apply to this job", new_job_application_url(:apptracker_id => params[:apptracker_id], :job_id => @job.id, :user_id => User.current.id), :class => 'access-account' %>
	  <% else %>
	    You have already submitted an application for this job. To view what you've submitted, please go to the "My Job Applications" tab.
	  <% end %>	
  <% else %>
    <%= link_to "Apply to this job", new_job_application_url(:apptracker_id => params[:apptracker_id], :job_id => @job.id, :user_id => User.current.id), :class => 'access-account' %>
  <% end %>
</span>
<% else %>
<span class="access-account">
  <!-- Take anonymous user to registration or login page -->
  <%= link_to "Log In", signin_url, :class => 'access-account' %> 
	or 
  <a id="displayText" href="javascript:toggle();" class="access-account">Register</a> to Apply to This Job
  <div id ="toggleText" style="display: none">
	<br />
	<span class="register_form"><%= render :partial => "register_form" %></span>
  </div>
</span>	
<% end %>
</strong>
	
<p></p>
<h3>Job Details</h3>
<p>
<strong>Category:</strong> <%=h @job.category %><br />
<br />
<strong>Application Deadline:</strong> <%=h @job.submission_date.strftime("%m/%d/%Y") %> <%= @job.submission_date.strftime("%I:%M %p") %> ET<br />
<br />
<% unless @job.application_material_types.nil? || @job.application_material_types.empty? %>	
  <strong>Application materials that will be uploaded into the system:</strong>
  <ul>
  <% @job.application_material_types.split(',').each do |amt| %>
    <li><%=h amt %></li>
  <% end %>
  </ul>
  <br />
<% end %>

<% unless @job.referrer_count == "0" %>
<%=h @job.referrer_count %> reference(s) are required for this position.<br />
<% end %>

<strong>Description:</strong> <%= textilizable @job.description %><br />

<% if User.current.admin? %>
	<% unless @job_application_custom_fields.empty? %>
	  <h3>Additional Information</h3>
		<% @job_application_custom_fields.each do |custom_field| %>
		  <%= custom_field.name %> - <%= custom_field.field_format %> <br />
		<% end %>
		<p></p>
	<% end %>
<% end %>

<% unless @job_attachment.nil? || @job_attachment.attachments.empty? %>
<h3>Job Attachments</h3>
  <%= link_to_attachments @job_attachment %>
<% end %>
</p>
<br />

<strong>
<span class="access-account">	
<% if User.current.logged? %>
  <% @applicant = Applicant.find_by_email(User.current.mail) %>
  <% unless @applicant.nil? %>
    <% @jobs = @applicant.job_applications.collect {|x| x.job_id } %>
    <!-- if the applicant has already applied to this job, do not show the "Apply" link -->
      <% unless @jobs.include?(@job.id) %>
      <!-- go to job application -->
	  <%= link_to "Apply to this job", new_job_application_url(:apptracker_id => params[:apptracker_id], :job_id => @job.id, :user_id => User.current.id) %>
    <% else %>
      You have already submitted an application for this job. To view what you've submitted, please go to the "My Job Applications" tab.
    <% end %>	
  <% else %>
    <%= link_to "Apply to this job", new_job_application_url(:apptracker_id => params[:apptracker_id], :job_id => @job.id, :user_id => User.current.id) %>
  <% end %>
<% else %>
  <!-- Take anonymous user to registration or login page -->
  <%= link_to "Log In", signin_url, :class => 'access-account' %> 
	or 
  <a id="displayText2" href="javascript:toggle2();">Register</a> to Apply to This Job
  <div id ="toggleText2" style="display: none">
	<br />
	<span class="register_form"><%= render :partial => "register_form" %></span>
  </div>	
<% end %>
</span>
</strong>
