<% form_for(@apptracker) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label(:title) %><br />
    <%= f.text_field(:title) %>
  </p>

  <p>
    <%= f.label(:description) %><br />
    <%= f.text_area(:description, :rows => 2) %>
  </p>

  <p>
    <%= f.label(:status) %><br />
    <%= f.select(:status, Apptracker::STATUS_OPTIONS, {:include_blank => true}) %>   
  </p>

  <p>
    <%= f.submit('Save') %>
  </p>
<% end %>

