<table class="list">
<thead>
  <tr>
    <% if(User.current.admin?)%>
      <!-- Admin Role -->
	  <th style="width:10%; text-align:left;">Application ID</th>
	  <th style="width:10%; text-align:left;">Job</th>
      <th style="width:10%; text-align:left;">Applicant</th>
      <th style="width:10%; text-align:left;">Date Submitted</th>
      <th style="width:5%; text-align:left;">Submission Status</th>
	  <th style="width:5%; text-align:left;">Acceptance Status</th>
	  <th style="width:5%; text-align:left;"></th>
	  <th style="width:5%; text-align:left;"></th>

    <% elsif (User.current.logged?)%>
      <!-- Applicant Role -->
	  <th style="width:10%; text-align:left;">Application ID</th>
	  <th style="width:10%; text-align:left;">Job</th>
      <th style="width:10%; text-align:left;">Date Submitted</th>
      <th style="width:5%; text-align:left;">Submission Status</th>
	  <th style="width:5%; text-align:left;"></th>
	  <th style="width:5%; text-align:left;"></th>
	  <th style="width:5%; text-align:left;"></th>
    <% else %>
      <!-- Anonymous Role -->
      <!-- No view for Anonymous -->

    <% end %> 
  </tr>
</thead>
<tbody>
	<% if @job_applications.empty? %>
	  no applications yet!
	<% else %>  
  	  <% @job_applications.each do |ja| %>
        <tr>
        <% if(User.current.admin?)%>
          <!-- Admin Role -->
		  <td style="width:10%"><%= link_to "#{ja.id}", job_application_url(ja.id, :apptracker_id => params[:apptracker_id]) %></td>
		  <td style="width:10%"><%= link_to "#{ja.job.title}", job_url(ja.job.id, :apptracker_id => params[:apptracker_id]) %></td>
          <td style="width:10%"><%= link_to "#{ja.applicant.first_name} #{ja.applicant.last_name}", applicant_url(ja.applicant.id, :apptracker_id => params[:apptracker_id]) %></td>
          <td style="width:10%"><%= ja.created_at.month %>/<%= ja.created_at.day %>/<%= ja.created_at.year %> <%= ja.created_at.strftime("%I:%M %p") %></td>
		  
		  <td style="width:10%"><%= ja.submission_status %></td>
		  <td style="width:10%"><%= ja.acceptance_status %></td>
		  <td style="width:5%"><%= link_to 'Edit', edit_job_application_url(ja.id, :apptracker_id => params[:apptracker_id]), :class => 'icon icon-edit' %></td>
          <td style="width:5%"><%= link_to 'Delete', job_application_url(:id => ja.id), 
            :confirm => "Are you sure you want to delete #{ja.applicant.first_name} #{ja.applicant.last_name}\'s record?", 
            :method => :delete,
            :class => 'icon icon-del' %>
          </td>

        <% elsif (User.current.logged?)%>
          <!-- Applicant Role -->
          <!-- No view for Applicants -->
		  <td style="width:10%"><%= link_to "#{ja.id}", job_application_url(ja.id, :apptracker_id => params[:apptracker_id]) %></td>
		  <td style="width:10%"><%= link_to "#{ja.job.title}", job_url(ja.job.id, :apptracker_id => params[:apptracker_id]) %></td>
		  <td style="width:10%"><%= ja.created_at %></td>
		  <td style="width:10%"><%= ja.submission_status %></td>
		  <% if ja.job.submission_date > DateTime.now %>
		    <td style="width:5%">
		    <% form_tag(:controller => 'job_application_referrals', :action => 'request_referral') do %>
			  <%= hidden_field_tag :id, ja.id %>
			  <%= label_tag :email, "Please enter referrer's email:" %><br />
			  <%= text_field_tag :email %><br />
  			  <%= submit_tag 'Request Referral' %>
		    <% end %>
		    </td>
		    <td style="width:5%"><%= link_to 'Edit', edit_job_application_url(ja.id, :apptracker_id => params[:apptracker_id]), :class => 'icon icon-edit' %></td>
            <td style="width:5%"><%= link_to 'Delete', job_application_url(:id => ja.id), 
              :confirm => "Are you sure you want to delete #{ja.applicant.first_name} #{ja.applicant.last_name}\'s record?", 
              :method => :delete,
              :class => 'icon icon-del' %>
		  <% end %>

        <% else %>
          <!-- Anonymous Role -->
          <!-- No view for Anonymous -->
		  If you are not logged in, you can not view any applications you have previously submitted.
        <% end %> 
        </tr>
      <% end %>
    <% end %>
</tbody>
</table>

