<script>
document.observe("dom:loaded", function() {
	$$('input[name="attachments[1][file]"]').each(function(elem, i){ $(elem).writeAttribute('name', 'attachments[' + (i + 1) + '][file]').next('label.inline').remove(); });
});
</script>

<% flash[:notice] %>
<div class="contextual">
  <%= link_to 'Back', jobs_url(:apptracker_id => params[:apptracker_id]), :class => 'icon icon-history' %>
</div>

<h2><%=h @job.apptracker.title %>: Jobs: <em><%=h @job.title %></em></h2>

<%= render :partial => "shared/tabs" %>
<span class="required">*</span> Required Fields
<%= render :partial => 'applicant_info', :locals => { :applicant => @applicant } %>

<% form_for(@job_application, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field(:apptracker_id, :value => @apptracker.id ) %>
  <%= f.hidden_field(:applicant_id, :value => @applicant.id ) %>
  <%= f.hidden_field(:job_id, :value => @job.id ) %>
	
  <p><%= render :partial => 'list_job_custom_fields', :locals => { :job => @job, :job_application => @job_application } %></p>
  
  <br />
  
<% unless @job.application_material_types.nil? || @job.application_material_types.empty?%>
  <h3>Job Application Materials</h3>
  <% @job_application.job_application_materials.build() %>	
  
  <% f.fields_for :job_application_materials do |jam| %>
    <%= jam.hidden_field(:job_application_id, :value => @job_application ) %>
    <% @job.application_material_types.split(',').each do |amt| %>
	  <h4><%=h amt %><span class="required">*</span></h4>
	  <div class="box">
		<p><label><%=l(:label_attachment_plural)%></label><%= render :partial => 'attachments/form' %></p>
	  </div>
    <% end %>
  <% end %>
<% end %>
	
	<% unless @job.referrer_count.nil? || @job.referrer_count == "0" %>
	  <h4>Referrals (<%= @job.referrer_count %> required)</h4>
	  <%= label_tag :email, "Please enter referrer's email(s) separated by a comma:" %><br />
	  <%= text_field_tag :email %><br />
	<% end %>
    <br />
  <p>
	By clicking on this button you are formally submitting your materials for review for this position.<br /><br />
    <%= f.submit('Submit Application') %>
  </p>
<% end %>

