<% flash[:notice] %>


<h2><%=h Apptracker.find(@job_application.apptracker_id).title %>: <%=h Job.find(@job_application.job_id).title %> </h2> 

<%= render :partial => "shared/tabs" %>

<p>	
Applicant: <%= @applicant.first_name %> <%= @applicant.last_name %><br />
Job Title: <%= link_to Job.find(@job_application.job_id).title, job_path(@job_application.job_id, :apptracker_id => @job_application.apptracker_id) %><br />


  <h3>Additional Information</h3>
  <% @job_application.custom_values.each do |custom_value| %>
	<% if !custom_value.value.blank? %>
	  <p><%= custom_value.custom_field.name%>: <%=h show_value(custom_value) %></p>
	<% end %>
  <% end -%>


<p>Submission Status: <%=h @job_application.submission_status %></p>

<h3>Job Application Attachments</h3>
<% unless @job_application_materials.nil? || @job_application_materials.blank? %>
  <% @job_application_materials.each do |jam| %>
    <%= link_to_attachments jam %><br />
  <% end %>  
<% else %>
  No attachments.
<% end %>
<br />
<% unless @job_application.job.referrer_count == "0" %>
	<h3>Job Application Referrals</h3>
	<% if User.current.admin? %>
		<% unless @job_application_referrals.nil? || @job_application_referrals.blank? %>
		  <% @job_application_referrals.each do |jar| %>
		    <p>
		      Name: <%= jar.first_name %> <%= jar.last_name %><br />
		      Email: <%= jar.email %><br />
		      Title: <%= jar.title %><br />
		      Notes: <%= jar.notes %><br />
		      <%= link_to_attachments jar %>
		    </p>
		  <% end %>
		<% else %>
		  No referrals.
		<% end %>
		</p>
		<br />
	
		<h3>Admin Notes</h3>
	  	<p><%= @job_application.notes %></p>
	<% else %>
	    <p>Referrals Submitted: <%= @job_application.job_application_referrals.all.empty? ? 0 : @job_application.job_application_referrals.all.length %></p>
	<% end %>
<% end %>

<% if @job_application.job.submission_date > DateTime.now || User.current.admin? %>
  <%= link_to 'Edit Application', edit_job_application_url(@job_application.id, :apptracker_id => params[:apptracker_id]), :class => 'icon icon-edit' %>
<% end %>
<br /><br />
