<h2>Job Application Referral</h2>

<%= render :partial => "shared/tabs" %>
<span class="required">*</span> Required Fields
<% form_for(@job_application_referral, :html => {:multipart => true}) do |jar| %>
  <%= jar.error_messages %>
  <%= jar.hidden_field(:job_application_id, :value => @job_application.id ) %>
  <p>
  <%= jar.label(:first_name) %><span class="required">*</span><br />
  <%= jar.text_field(:first_name) %>
  </p>
		<p>
		<%= jar.label(:last_name) %><span class="required">*</span><br />
    	<%= jar.text_field(:last_name) %>
		</p>
		<p>
	    <%= jar.label(:email) %><span class="required">*</span><br />
	    <%= jar.text_field(:email) %>
  		</p>
	    <p>
	    <%= jar.label(:phone) %><span class="required">*</span><br />
	    <%= jar.text_field(:phone) %>
	    </p>
		<p>
	    <%= jar.label(:title) %><br />
	    <%= jar.text_field(:title) %>
	    </p>
		<p>
	    <%= jar.label(:notes) %><br />
	    <%= jar.text_field(:notes) %>
	    </p>
		<br />
		<h3>Job Application Referral Attachments</h3>
		<div class="box">
			<p><label><%=l(:label_attachment_plural)%></label><%= render :partial => 'attachments/form' %></p>
		</div>

  <p>
    <%= jar.submit('Save') %>
  </p>
<% end %>
