<div class="tabs"> 
  <ul>
    <% if(User.current.admin?)%>
      <!-- Admin Role -->
      
      <li><%= link_to 'Jobs', jobs_url(:apptracker_id => params[:apptracker_id], :project_identifier => params[:project_identifier]), 
        {:id => 'tab-Jobs', :onclick => "showTab('Jobs'); this.blur(); return false;"} %>
      </li>
      <li><%= link_to 'Applicants', applicants_url(:apptracker_id => params[:apptracker_id], :project_identifier => params[:project_identifier]),          {:id => 'tab-Applicants', :onclick => "showTab('Applicants'); this.blur(); return false;"} %>
      </li>
      <!--<li><a href="/application_materials" id="tab-ApplicationMaterials" onclick="showTab('ApplicationMaterials'); this.blur(); return false;">Application Materials</a></li>
      <li><a href="/job_applications" id="tab-JobApplications" onclick="showTab('JobApplications'); this.blur(); return false;">Job Applications</a></li>-->
    
    <% elsif (User.current.logged?)%>
      <!-- Applicant Role -->
      <li><%= link_to 'Jobs', jobs_url(:apptracker_id => params[:apptracker_id], :project_identifier => params[:project_identifier]), 
        {:id => 'tab-Jobs', :onclick => "showTab('Jobs'); this.blur(); return false;"} %>
      </li>
     
      <li><a href="/job_applications" id="tab-JobApplications" onclick="showTab('JobApplications'); this.blur(); return false;">My Job Applications</a></li>

      <li><%= link_to 'My Application Materials', job_application_materials_url(
        :apptracker_id => params[:apptracker_id], 
        :project_identifier => params[:project_identifier], 
        :applicant_id => User.current.id), 
        {:id => 'tab-ApplicationMaterials', :onclick => "showTab('ApplicationMaterials'); this.blur(); return false;"} %>
      </li>

      <li><%= link_to 'My Referrers', job_application_referrals_url(
        :apptracker_id => params[:apptracker_id], 
        :project_identifier => params[:project_identifier], 
        :applicant_id => User.current.id), 
        {:id => 'tab-Referrers', :onclick => "showTab('Referrers'); this.blur(); return false;"} %>
      </li>
   
    <% else %>
      <!-- Anonymous Role -->
      <li><%= link_to 'Jobs', jobs_url(:apptracker_id => params[:apptracker_id], :project_identifier => params[:project_identifier]), 
        {:id => 'tab-Jobs', :onclick => "showTab('Jobs'); this.blur(); return false;"} %>
      </li>
    <% end %>
  </ul> 
  <div class="tabs-buttons" style="display:none;"> 
  	<button class="tab-left" onclick="moveTabLeft(this);"></button> 
  	<button class="tab-right" onclick="moveTabRight(this);"></button> 
  </div> 
</div>

