<table class="list" style="width:90%">
<thead>
  <tr>
    <% if(User.current.admin?)%>
      <!-- Admin Role -->
      <th style="width:40%; text-align:left;">Title</th>
      <th style="width:30%; text-align:left;">File Name</th>
      <th style="width:20%; text-align:left;">User Name</th>
      <th style="width:6%; text-align:left;"></th>
      <th style="width:4%; text-align:left;"></th>

    <% elsif (User.current.logged?)%>
      <!-- Applicant Role -->
      <th style="width:40%; text-align:left;">Title</th>
      <th style="width:30%; text-align:left;">File Name</th>
      <th style="width:20%; text-align:left;">User Name</th>
      <th style="width:6%; text-align:left;"></th>
      <th style="width:4%; text-align:left;"></th>
    <% else %>
      <!-- Anonymous Role -->
      <!-- Nothing to show to anoynymous users -->
    <% end %> 
  </tr>
</thead>
<tbody>
  <% @application_materials.each do |application_material| %>
    <tr>
      <% if(User.current.admin?)%>
        <!-- Admin Role -->
        <td style="width:40%"><%=h application_material.title%></a></td>
        <td style="width:30%"><%=h application_material.filename %></a></td>
        <td style="width:20%"><%=h "#{Applicant.find(application_material.applicant_id).last_name}, 
        #{Applicant.find(application_material.applicant_id).first_name}"%>
        <td style="width:6%"><%= link_to 'Download', 
              { :controller => 'application_materials', 
                :id => application_material.id, 
                :action => 'download' },
              { :class => 'icon icon-save' } %>
        </td>
        <td style="width:4%"><%= link_to 'Delete', 
          application_material_url(application_material.id), 
          :confirm => "Are you sure you want to delete #{application_material.filename}?", 
          :method => :delete,
          :class => 'icon icon-del'
        %>
        </td>

      <% elsif (User.current.logged?)%>
        <!-- Applicant Role -->
        <td style="width:40%"><%=h application_material.title%></a></td>
        <td style="width:30%"><%=h application_material.filename %></a></td>
        <td style="width:20%"><%=h "#{Applicant.find(application_material.applicant_id).last_name}, 
        #{Applicant.find(application_material.applicant_id).first_name}"%>
        <td style="width:6%"><%= link_to 'Download',
              { :controller => 'application_materials', 
                :id => application_material.id, 
                :action => 'download' }, 
              { :class => 'icon icon-save' } %>
        </td>
        <td style="width:4%"><%= link_to 'Delete', 
          application_material_url(application_material.id), 
          :confirm => "Are you sure you want to delete #{application_material.filename}?", 
          :method => :delete,
          :class => 'icon icon-del'
        %>
        </td>

      <% else %>
        <!-- Anonymous Role -->

      <% end %> 
    </tr>
  <% end %>
</tbody>
</table>
