<% flash[:notice] %>
<h2><%=h session[:apptracker_title] %>: Application Materials</h2>
<%= render :partial => 'shared/tabs' %>

<table class="list" style="width:65%">
<thead>
  <tr>
    <th style="width:30%; text-align:left;">File Name</th>
    <th style="width:40%; text-align:left;">Description</th>
    <th style="width:20%; text-align:left;">User Name</th>
    <th style="width:6%; text-align:left;"></th>
    <th style="width:4%; text-align:left;"></th>
  </tr>
</thead>
<tbody>
  <% @application_materials.each do |application_material| %>
    <tr>
      <td style="width:30%"><%=h application_material.filename %></a></td>
      <td style="width:40%"><%=h application_material.description%></a></td>
      <td style="width:20%"><%=h "#{Applicant.find(application_material.applicant_id).last_name}, 
        #{Applicant.find(application_material.applicant_id).first_name}"%>
      <td style="width:6%"><%= link_to('Download', :controller => 'application_materials', :action => 'download', :id => application_material.id)%></td>
      <td style="width:4%"><%= link_to 'Delete', application_material_url(:id => application_material.id), 
        :confirm => "Are you sure you want to delete #{application_material.filename}?", 
        :method => :delete %></td>
    </tr>
  <% end %>
</tbody>
</table>
<br /><br />
<%= link_to 'New Application Material', new_application_material_url %>
