<% flash[:notice] %>
<h2>Application Materials (<%= h(session[:apptracker_title]) %>)</h2>

<% form_for(:application_material, @application_material, :url => application_materials_url, :html => {:multipart => true}) do |f| %>
  <div class="box">
    <%= f.label(:application_material, 'File to Upload:') %>
    <%= file_field(:application_file, :data)%>

    <%= f.label(:description, 'Description') %>
    <%= f.text_field(:description, :size => 30) %>
  </div>
  <%= submit_tag "Upload" %>
<% end %>


