<% flash[:notice] %>
<h2><%=h session[:apptracker_title] %>: <%=h "#{@applicant.first_name} #{@applicant.last_name}" %>: Referrers</h2>

<%= render :partial => "shared/tabs" %>

<p>
Name: <%=h "#{@referrer.first_name} #{@referrer.last_name}" %><br />
Email: <%=h @referrer.email %><br />
Phone: <%=h @referrer.phone %><br />
</p>
<br /><br />
<%= link_to 'Back', referrers_url %>
